<script>
    function validateForm(event) {
        var fields = [
            { name: 'loginid', label: '고객' },
            { name: 'mer_id', label: '상품' },
            { name: 'date', label: '날짜' },
        ];

        for (var i = 0; i < fields.length; i++) {
            var field = fields[i];
            if (!$(`[name="${field.name}"]`).val()) {
                alert(`${field.label}을(를) 입력해주세요.`);
                event.preventDefault();
                return; 
            }
        }
    }

    $("form").on("submit", function(event) {
        validateForm(event);
    });
</script>
<h2>cart 테이블 수정</h2>
<form action="/cartview_update_process" method="post" onsubmit="validateForm(event)">
    <input type="hidden" name="cart_id" value="<%= carts[0].cart_id %>">
    <div class="mb-3">
        <label class="form-label" for="class">고객</label>
        <select name="loginid" id="class">
            <% for (let i = 0; i < persons.length; i++) { %>
                <option value="<%= persons[i].loginid %>" 
                    <%= persons[i].loginid === carts[0].loginid ? 'selected' : '' %>>
                    <%= persons[i].name %>
                </option>
            <% } %>	
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label" for="grade">상품</label>
        <select name="mer_id" id="grade">
            <% for (let i = 0; i < products.length; i++) { %>
                <option value="<%= products[i].mer_id %>" 
                    <%= products[i].mer_id === carts[0].mer_id ? 'selected' : '' %>>
                    <%= products[i].name %>
                </option>
            <% } %>	
        </select>
    </div>	

    <div class="mb-3">
        <label class="form-label" for="date">날짜</label>
        <input class="form-control" type="text" name="date" value="<%= carts[0].date %>" style="width:300px;" disabled/>
    </div>

    <button class="btn btn-outline-primary btn-sm" type="submit">수정</button>
    <button class="btn btn-outline-primary btn-sm" type="button" onclick="window.history.back();">카트 목록 돌아가기</button>
</form>
