<table class="table table-bordered ">
    <% if(cls == 'NON') { %>
    <tr ><td rowspan = "6"><img src=" <%= products[0].image %>" style="width:300px;height:300px;text-align: center; "></td></tr>
    <tr> <td style="vertical-align: middle;"><%=products[0].name%></td></tr>
    <tr> <td style="vertical-align: middle;">가격 :  <%=products[0].price.toLocaleString('ko-KR')%>원</td></tr>
    <tr> <td style="vertical-align: middle;">브랜드 : <%=products[0].brand%></td></tr>
    <tr> <td style="vertical-align: middle;">공급업체 : <%=products[0].supplier%></td></tr>
    <% }else { %>
        <tr ><td rowspan = "6"><img src=" <%= products[0].image %>" style="width:300px;height:300px;text-align: center;"></td></tr>
        <tr> <td style="vertical-align: middle;"><%=products[0].name%></td></tr>
        <tr> <td style="vertical-align: middle;">가격 :  <%=products[0].price.toLocaleString('ko-KR')%>원</td></tr>
        <tr> <td style="vertical-align: middle;">브랜드 : <%=products[0].brand%></td></tr>
        <tr> <td style="vertical-align: middle;">공급업체 : <%=products[0].supplier%></td></tr>
        <tr><td style="vertical-align: middle;">
            <a href="/purchase/detail/<%= products[0].mer_id %>" ><button class="btn btn-outline-primary btn-sm" type="submit" >구매</button></a>
            <form action = "/purchase/cart_process" method="post" style = "display : inline-block">
                <input type="hidden" value="<%=products[0].mer_id%>" name="mer_id">
                <button class="btn btn-outline-primary btn-sm" type="submit">장바구니</button>
            </form>
        </td></tr>
    <% } %>
</table>